{% extends "layout.html" %}
{% block content %}
<h1 class="heading">Meta Magic</h1>
<h2 class="sub-head">Summoning Ritual Invocation</h2>
<ol>
    <li>Pray to Fortuna, the great goddess of luck. You will need it.</li>
    <li>Inscribe the name of the monster you wish to summon at the altar.</li>
    <li>Choose the desired monster type from the book of all monsters index.</li>
    <li>Choose the appropriate power. Secondary stats will be set automatically.</li>
    <li>Modify secondary stats to taste and summon your new best friend.</li>
    <li>Run for your life! Newly summoned monsters are typically quite hungry.</li>
    <li>If you planned well, you only need to outrun your slowest companion.</li>
</ol>
<h2 class="sub-head">Planar Technology & Temporal Artifacts</h2>
<ul>
    <li>Interface: HTML, CSS, JavaScript</li>
    <li>Control Logic: Python, Flask</li>
    <li>Toolkit: Cython <a target="_blank" href="https://pypi.org/project/Fortuna/">
        Fortuna
    </a></li>
    <li>Core Engine: C++ <a target="_blank"  href="https://github.com/BrokenShell/Storm/">
        Storm
    </a></li>
    <li>Cypher Mage: <a target="_blank" href="https://www.linkedin.com/in/robert-w-sharp/">
        Robert Sharp
    </a></li>
</ul>
<blockquote>
    <p>"No monsters were harmed during the making of this app. Several humans got eaten...
        What happens after you summon them is your problem. Enjoy!"</p>
    <cite>Lower Management</cite>
</blockquote>
<h3 class="heading">Inner Sanctum Ritual</h3>
<ul>
    <li>
        Name: User Selected Only
    </li>
    <li>
        Type: User Selectable, Default Wide Distribution - TruffleShuffle
    </li>
    <li>
        Challenge Rating: User Selectable, Default Geometric Front Poisson
    </li>
    <li>
        Armor Class: User Selectable, Default Based on CR Lookup
    </li>
    <li>
        Attack Bonus: User Selectable, Default Based on CR Lookup
    </li>
    <li>
        Save DC: User Selectable, Default Based on CR Lookup
    </li>
    <li>
        Health: Gaussian Distribution Based on CR Lookup Range
    </li>
    <li>
        Damage: Gaussian Distribution Based on CR Lookup Range
    </li>
</ul>

<section id="log">
<h3 class="heading">Requiem Hierarchy of Temporal Evolution</h3>

<h5>MonsterFactory v0.0.6 | <i>More Random!</i></h5>
<p>Sprinkles randomness glitter everywhere except the monster's name.</p>

<h5>MonsterFactory v0.0.5 | <i>More Monsters!</i></h5>
<p>Adds the ability to load older monsters via the primordial archive.</p>

<h5>MonsterFactory v0.0.4 | <i>Premature Monster Summation Antidote</i></h5>
<p>Fixes a bug that caused the form to post prematurely.</p>

<h5>MonsterFactory v0.0.3 | <i>Monster Diversity Patch</i></h5>
<p>Adds support for latin <strike>characters</strike> monsters.</p>

<h5>MonsterFactory v0.0.2 | <i>MVP</i></h5>
<p>Minimum Viable Product</p>

<h5>MonsterFactory v0.0.1 | <i>Alpha</i></h5>
<p>Initial Planning Phase</p>
</section>

{% endblock %}
